446assign1/numWinForm/numWinForm/Service References/myService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecretNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lower" type="xs:int" />
        <xs:element minOccurs="0" name="upper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecretNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecretNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNum" type="xs:int" />
        <xs:element minOccurs="0" name="SecretNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>